@page
@model ProjectHennisJustin.Pages.DataVisualization.Views.VwCostandTreatModel
@{
    ViewData["Title"] = "Status of Payment";
    Layout = "~/Pages/Shared/_billing.cshtml";
}
<div style="height:10vh;"></div>
<div style="height:10vh;">
    <a asp-area="" asp-page="/billhome" style="color:cornflowerblue;"><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></a>
</div>

<table id="myTable" class="table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VwCostandTreat[0].Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VwCostandTreat[0].TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VwCostandTreat[0].Status)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.VwCostandTreat)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Treatment)
                </td>
                <td>
                    $@Html.DisplayFor(model => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
            </tr>
            
        }

    </tbody>

</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true
            });
        });
    </script>
}